<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>stu-homeworkdetail</title>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="../../resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../../data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../../files/stu-homeworkdetail/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../../resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="../../resources/scripts/axure/axQuery.js"></script>
    <script src="../../resources/scripts/axure/globals.js"></script>
    <script src="../../resources/scripts/axutils.js"></script>
    <script src="../../resources/scripts/axure/annotation.js"></script>
    <script src="../../resources/scripts/axure/axQuery.std.js"></script>
    <script src="../../resources/scripts/axure/doc.js"></script>
    <script src="../../resources/scripts/messagecenter.js"></script>
    <script src="../../resources/scripts/axure/events.js"></script>
    <script src="../../resources/scripts/axure/recording.js"></script>
    <script src="../../resources/scripts/axure/action.js"></script>
    <script src="../../resources/scripts/axure/expr.js"></script>
    <script src="../../resources/scripts/axure/geometry.js"></script>
    <script src="../../resources/scripts/axure/flyout.js"></script>
    <script src="../../resources/scripts/axure/model.js"></script>
    <script src="../../resources/scripts/axure/repeater.js"></script>
    <script src="../../resources/scripts/axure/sto.js"></script>
    <script src="../../resources/scripts/axure/utils.temp.js"></script>
    <script src="../../resources/scripts/axure/variables.js"></script>
    <script src="../../resources/scripts/axure/drag.js"></script>
    <script src="../../resources/scripts/axure/move.js"></script>
    <script src="../../resources/scripts/axure/visibility.js"></script>
    <script src="../../resources/scripts/axure/style.js"></script>
    <script src="../../resources/scripts/axure/adaptive.js"></script>
    <script src="../../resources/scripts/axure/tree.js"></script>
    <script src="../../resources/scripts/axure/init.temp.js"></script>
    <script src="../../resources/scripts/axure/legacy.js"></script>
    <script src="../../resources/scripts/axure/viewer.js"></script>
    <script src="../../resources/scripts/axure/math.js"></script>
    <script src="../../resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../../data/document.js"></script>
    <script src="../../files/stu-homeworkdetail/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
      <style>
          .courseInfos{
              width: 1224px;
              height: 195px;
              border:1px solid #000;
              border-radius: 10px;
              padding: 15px;
              margin-left: 200px;
              margin-top: 25px;
          }
          .uphomework{
              width: 80px;
              height: 30px;
              background-color: #32BAF0;
              border-radius: 4px;
              border:none;
          }
      </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (动态面板) -->
      <div id="u0" class="ax_default">
        <div id="u0_state0" class="panel_state" data-label="State1" style="">
          <div id="u0_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u1" class="ax_default box_1">
              <div id="u1_div" class=""></div>
              <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u2" class="ax_default label">
              <div id="u2_div" class=""></div>
              <div id="u2_text" class="text ">
                <p><span>课堂 &gt; 软件工程与计算II 专升本&nbsp; </span></p>
              </div>
            </div>

            <!-- Unnamed (SVG) -->
            <div id="u3" class="ax_default _图片_">
              <img id="u3_img" class="img " src="../../images/stu-homeworkdetail/u3.svg"/>
              <div id="u3_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (SVG) -->
            <div id="u4" class="ax_default _图片_">
              <img id="u4_img" class="img " src="../../images/stu-homeworkdetail/u4.svg"/>
              <div id="u4_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (SVG) -->
            <div id="u5" class="ax_default _图片_">
              <img id="u5_img" class="img " src="../../images/stu-homeworkdetail/u5.svg"/>
              <div id="u5_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u6" class="ax_default label">
              <div id="u6_div" class=""></div>
              <div id="u6_text" class="text ">
                <p><span>工具</span></p>
              </div>
            </div>

            <!-- Unnamed (图片 ) -->
            <div id="u7" class="ax_default _图片_">
              <img id="u7_img" class="img " src="../../images/stu-homeworkdetail/u7.jpg"/>
              <div id="u7_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%;margin-top:450px;"></div>
        <div th:each="homeworksindex:${homeworksdetails}" class="courseInfos">
            <div style="margin-left: 25px;">
                <p>
                    <span style="font-size: 16px;">个人作业</span>
                    <span style="font-size: 12px;" th:text="${#dates.format(homeworksindex.publishdate,'yyyy-MM-dd HH:mm:ss')}" >
                      发布日期为null
                    </span>
                </p>
                <h3 th:text="${homeworksindex.homeworkname}">任务名为null</h3>
                <p style="width: 1000px;">
                    <span th:text="${homeworksindex.homeworkintroduction}">
                      任务描述为null
                    </span>
                </p>
            </div>
            <div style="margin-left: 25px;">
                <p style="float: left;font-size: 14px;color: gainsboro;margin-top: 20px;width: 400px">
                    <span>截止日期： </span>
                    <span th:text="${#dates.format(homeworksindex.deadline,'yyyy-MM-dd HH:mm:ss')}">截止日期为null</span>
                </p>

                <!--将课程id保存在隐藏表单 -->
              <input type="hidden" name="courseid" th:value="${courseId}">
<!--              文件上传-->
              <form action="#" th:action="@{/student/uploadhomework}" method="post" enctype="multipart/form-data" style="width: 500px;float: right;margin-right: 25px;">

                <input type="hidden" name="homeworkid" th:value="${homeworksindex.homeworkid}">
                <input type="hidden" name="studentid" th:value="${session.loginUserId}">
                <input type="hidden" name="submitstate" value="已交">
                <input type="hidden" name="submitcount" value="1">
                <input type="file" name="uploadfile">
                <br>
                <input type="text" name="message" placeholder="添加作业留言，建议作业不以留言形式提交">
                <input type="submit" class="uphomework" value="上传作业">
              </form>

            </div>
        </div>



      <!-- Unnamed (矩形) -->
      <div id="u8" class="ax_default box_1">
        <img id="u8_img" class="img " src="../../images/stu-homeworkdetail/u8.svg"/>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (图片 ) -->
      <div id="u9" class="ax_default _图片_">
        <img id="u9_img" class="img " src="../../images/stu-homeworkdetail/u9.jpg"/>
        <div id="u9_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u10" class="ax_default box_1">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11" class="ax_default label">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
          <p><span>课堂互动</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12" class="ax_default label">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>作业</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13" class="ax_default label">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>话题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u14" class="ax_default label">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text ">
          <p><span>资料</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u15" class="ax_default label">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span>测试(考试)</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u16" class="ax_default label">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>公告</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u17" class="ax_default label">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text ">
          <p><span>已选课程</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u18" class="ax_default label">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u19" class="ax_default box_1">
        <div id="u19_div" class=""></div>
        <div id="u19_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u20" class="ax_default label">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text ">
          <p style="font-size:18px;"><span style="color:#FFFFFF;">加课码:39EM26</span></p><p style="font-size:14px;"><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u21" class="ax_default box_1">
        <div id="u21_div" class=""></div>
        <div id="u21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u22" class="ax_default label">
        <div id="u22_div" class=""></div>
        <div id="u22_text" class="text ">
          <p style="font-size:18px;"><span style="color:#FFFFFF;">同学64</span></p><p style="font-size:14px;"><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u23" class="ax_default box_1">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u24" class="ax_default label">
        <div id="u24_div" class=""></div>
        <div id="u24_text" class="text ">
          <p><span>成绩</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u25" class="ax_default" data-left="438" data-top="273" data-width="30" data-height="32">

        <!-- Unnamed (形状) -->
        <div id="u26" class="ax_default _形状">
          <img id="u26_img" class="img " src="../../images/stu-homeworkdetail/u26.svg"/>
          <div id="u26_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u27" class="ax_default _形状">
          <img id="u27_img" class="img " src="../../images/stu-homeworkdetail/u27.svg"/>
          <div id="u27_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u28" class="ax_default" data-left="307" data-top="273" data-width="32" data-height="30">

        <!-- Unnamed (形状) -->
        <div id="u29" class="ax_default _形状">
          <img id="u29_img" class="img " src="../../images/stu-homeworkdetail/u29.svg"/>
          <div id="u29_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u30" class="ax_default _形状">
          <img id="u30_img" class="img " src="../../images/stu-homeworkdetail/u30.svg"/>
          <div id="u30_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../resources/scripts/axure/ios.js"></script>
  </body>
</html>
